n8n-super/workflows/n8n-super-full-test.json
{
  "name": "n8n-super Full Coverage Test (Community Nodes + Browser)",
  "nodes": [
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 280]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "targetUrl",
              "value": "https://example.com"
            },
            {
              "name": "ntfyTopic",
              "value": "n8n-super-test"
            },
            {
              "name": "note",
              "value": "hello from n8n-super"
            }
          ]
        },
        "options": {}
      },
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0002",
      "name": "Set Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 280]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, idx) => {\n  item.json.runId = `${Date.now()}-${idx}`;\n  item.json.ts = new Date().toISOString();\n  item.json.summary = `runId=${item.json.runId} url=${item.json.targetUrl}`;\n  return item;\n});"
      },
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0003",
      "name": "Code (JS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "command": "echo \"n8n-super execCommand ok: {{$json.summary}}\""
      },
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0004",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 280]
    },
    {
      "parameters": {
        "url": "={{$json.targetUrl}}",
        "options": {
          "timeout": 10000,
          "followRedirect": true
        }
      },
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0005",
      "name": "HTTP Request (Example)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 280]
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0006",
      "name": "NoOp (Community Fanout Start)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1420, 280]
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0101",
      "name": "Browser (n8n-nodes-browser)",
      "type": "n8n-nodes-browser.browser",
      "typeVersion": 1,
      "position": [1660, 120],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0102",
      "name": "DingTalk (n8n-nodes-dingtalk)",
      "type": "n8n-nodes-dingtalk.DingTalk",
      "typeVersion": 1,
      "position": [1660, 220],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0103",
      "name": "GitLab Extended (n8n-nodes-extended-gitlab)",
      "type": "n8n-nodes-extended-gitlab.gitlabExtended",
      "typeVersion": 1,
      "position": [1660, 320],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0104",
      "name": "Kubernetes Docker (n8n-nodes-kubernetes)",
      "type": "n8n-nodes-kubernetes.docker",
      "typeVersion": 1,
      "position": [1660, 420],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0105",
      "name": "Helm Chart (n8n-nodes-helm-chart)",
      "type": "n8n-nodes-helm-chart.helmChart",
      "typeVersion": 1,
      "position": [1660, 520],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "0b8a2d0d-0b7b-4c17-9a52-0b6a7b6f0106",
      "name": "Ntfy (n8n-nodes-ntfy)",
      "type": "n8n-nodes-ntfy.Ntfy",
      "typeVersion": 1,
      "position": [1660, 620],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vars": {
      "main": [
        [
          {
            "node": "Code (JS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (JS)": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "HTTP Request (Example)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Example)": {
      "main": [
        [
          {
            "node": "NoOp (Community Fanout Start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp (Community Fanout Start)": {
      "main": [
        [
          {
            "node": "Browser (n8n-nodes-browser)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DingTalk (n8n-nodes-dingtalk)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitLab Extended (n8n-nodes-extended-gitlab)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kubernetes Docker (n8n-nodes-kubernetes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Helm Chart (n8n-nodes-helm-chart)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ntfy (n8n-nodes-ntfy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
